<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="GitLab" value="https://gitlab.nvg.ru/api/v4/projects/270/packages/nuget/index.json" />
    <add key="gitlab-ezs" value="https://gitlab.nvg.ru/api/v4/projects/222/packages/nuget/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <GitLab>
        <add key="Username" value="agroshev" />
        <add key="ClearTextPassword" value="nkE-y7WdfP8U8T45V4xN" />
      </GitLab>
    <gitlab-ezs>
      <add key="Username" value="registry" />
      <add key="ClearTextPassword" value="nkE-y7WdfP8U8T45V4xN" />
    </gitlab-ezs>
  </packageSourceCredentials>
  <disabledPackageSources>
    <add key="gitlab-ezs" value="true" />
  </disabledPackageSources>
</configuration>
