<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\tmp\nlog-internal-platformapi.log">

    <!-- optional, add some variables
    https://github.com/nlog/NLog/wiki/Configuration-file#variables
    -->
    <variable name="username" value="logger"/>
    <variable name="password" value="XSW@zaq1"/>
    <variable name="host" value="rabbitmq"/>
    <variable name="routingkey" value="logging.platformwebapi.json"/>
    <variable name="exchange" value="SUO_LOGGING"/>

    <!--
    See https://github.com/nlog/nlog/wiki/Configuration-file
    for information on customizing logging rules and outputs.
     -->
    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>
    <targets>

        <target xsi:type="File" name="platformwebapi"
                fileName="${basedir}/log/PlatformWebApi/PlatformWebApi-${date:format=dd-MM-yyyy}-Full.log"
                layout="${date:universalTime=false:format=HH\:mm\:ss.fff} ## [${threadid}] ## ${event-properties:item=EventId_Id} ## ${uppercase:${level}} ##${logger}##${message} ${exception:format=tostring}"
                archiveFileName="${basedir}/log/PlatformWebApi/archives/${date:format=dd-MM-yyyy}/PlatformWebApi-${date:format=dd-MM-yyyy}-Full.{#####}.log"
                archiveAboveSize="1024000"
                archiveNumbering="Sequence"
                maxArchiveFiles="1000"
                concurrentWrites="true"
                keepFileOpen="false"/>
        <target xsi:type="File" name="exceptions"
                fileName="${basedir}/log/PlatformWebApi/Exceptions-${date:format=dd-MM-yyyy}-Full.log"
                layout="${date:universalTime=false:format=HH\:mm\:ss.fff} ## [${threadid}] ##${event-properties:item=EventId_Id}##${uppercase:${level}}##${logger}##${message} ${exception:format=tostring}"
                archiveFileName="${basedir}/log/PlatformWebApi/archives/${date:format=dd-MM-yyyy}/Exceptions-${date:format=dd-MM-yyyy}-Full.{#####}.log"
                archiveAboveSize="1024000"
                archiveNumbering="Sequence"
                maxArchiveFiles="1000"
                concurrentWrites="true"
                keepFileOpen="false"/>
        <target name="Console"
                xsi:type="Console"
                layout="${date:universalTime=false:format=HH\:mm\:ss.fff} {${level}}${literal:text=\t}[${logger:shortName=true}] |${substring:${aspnet-TraceIdentifier:truncate=16}:start=3}| ${message}${onexception: ${exception:format=ToString}}"/>

    </targets>


    <rules>
        <!-- BlackHole without writeTo -->
        <logger name="Microsoft.*" maxLevel="Info" final="true"/>
        <logger name="ExceptionLogger" maxLevel="Error" final="true" writeTo="exceptions"/>
        <logger name="*" minlevel="Trace" writeTo="platformwebapi"/>
        <logger name="*" minlevel="Info" writeTo="Console"/>
    </rules>
</nlog>
